/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.object-fit-img{
    height: 100%;
    object-fit: cover;
}

.img-structure{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.col{
    float: left;
}

.text-color, a{
    color: #acacac;
    font-weight: bold;
}

/* HEADER */

/* header-top */
.logo-header{
    height: 70px;
    display: inline-block;
    border-right: 1px solid #ededed;
}

.logo-header img{
    height: 100%;
    padding-right: 20px;

}


/* nav */
nav{
    margin: 30px 0;
}

.menu li{
    list-style-type: none;
    display: inline-block;
}

.menu a{
    text-decoration: none;
    padding-right: 10px;
}

/* header-bottom */
header .header-bottom{
    height: 500px;
}

.header-bottom .header-text{
    color: white;
    position: absolute;
    bottom:60px;
    left: 50px;
    width: 55%;
}

.header-text h3{
    font-size: 33px;
    line-height: 40px;
}

/* MAIN */
main{
    margin:20px 0;
}

/* main top */
main .main-top{
    padding: 20px 0;
}

.main-top h2{
    font-size: 40px;
}

/* main bottom and columns */
main .col-box{
   padding: 20px 0;
}

main .aside{
    width: 18%;
    height: 500px;

}

main .center-content{
    width: 60%;
    margin: 0 2%;
}

/* main img */
.main-img {
    height: 220px;
}

.main-text h4{
    padding: 15px 0;
}

/* FOOTER */
.page-designed{
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.page-designed .love{
    color: red;
    font-size: 30px;
}